@import "./settings"
@import "./animation"

*
    @include reset

html
    @include reset-html

body
    @include reset-body
    position: relative
    overflow-x: hidden



/* ########    container-window    ########*/
.container1
    position: relative
    height: 90vh
    width: 100%


.container-window
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15)
    border: 0.2em solid $color-lightPurple
    border-radius: 0em 0em 1em  1em
    transform: translate(-50% ,0%)
    position: absolute
    border-top: 0em
    height: 90%
    width: 80%
    left: 50%
    top: 3em

/* ########    head-window    ########*/
.head-window
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
    border: 0.2em solid $color-lightPurple
    transform: translate(-50% ,0%)
    border-radius: 1em 1em 0em 0em
    background-color: $color-white
    position: absolute
    align-items: center
    padding-left: 10px
    display: flex
    height: 3em
    width: 80%
    left: 50%
    gap:10px

    .circle
        width: 10px
        height: 10px
        border-radius: 50%
    .red
        background: $color-lightRed
        //animation: red  1.2s infinite  alternate-reverse
    .yellow
        background: $color-lightYallow
        //animation: yellow  1.1s infinite  alternate-reverse

    .green
        background: $color-lightGreen
        //animation: green  1s infinite  alternate-reverse



/* ########    container name    ########*/

.container-name
    @include flex-center
    flex-direction: column
    margin-top: 70px
    gap: 10px
    p
        font-size: 1.5em
        color: $color-lightGray
        font-weight: 600
    .name
        @include flex-center

        h1
            font-size: 4rem
            font-weight: 900
            color: $color-white
            -webkit-text-stroke: 1px $color-lightGray

/* ########    container menu    ########*/

.container-menu
        @include absolute-center
        @include flex-center
        gap: 40px

        a
            color: $color-lightGray
            font-weight: 600
            font-size: 1.5em

        .active
            color: $color-black
            position: relative

            &::after
                content: "  "
                position: absolute
                bottom: -5px
                border-radius: 20px
                left: 0
                width: 100%
                height: 0.3em
                background: $color-lightPurple

        .disabled
            &:hover
                color: $color-black

/* ########    container cv in midias    ########*/
.container-cv-midias
    position: absolute
    width: 100%
    display: flex
    flex-direction: column
    gap:10px
    padding-bottom: 20px
    padding-left: 10px
    bottom: 0


    .midias
        display: flex
        align-items: center
        gap:20px

        a
            @include links-midias
            &:hover
                color: $color-lightPurple !important

.animation-arrow
    display: flex
    align-items: center
    justify-content: space-between
    width: 280px
    height: 35px
    background: $color-white
    border: 0.3em solid $color-lightPurple
    border-radius: 50px
    padding-left: 20px
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
    position: relative



    a
        color: $color-lightPurple !important
        font-weight: 600

    .background-purple
        @include flex-center
        position: absolute
        bottom: -0.3em
        right: -1px
        flex-direction: column
        gap:5px
        background-color: $color-lightPurple
        height: 35px
        width: 80px
        border-radius: 100px 50px 50px 0px

        .arrow-bottom
            background: $color-white
            height: 0.2em
            width: 2em
            border-radius: 20px
        img
            animation: arrow 1s infinite alternate-reverse

@keyframes  arrow
    0%
        transform: translateY(0px)
    100%
        transform: translateY(5px)


/* ########    animation   ########*/

#planet-purple
    animation: rotation-planet 60s infinite linear
    position: absolute
    width:  14%
    bottom: 0
    right: 0

@keyframes  rotation-planet
    0%
        transform:  rotate(0deg)
    100%
        transform:    rotate(360deg)

#antena
    position: absolute
    left: -10px
    width: 10%
#scroll
    position: absolute
    left: 5%
    bottom: 6%
    height: 50%




/* ########    scroll   ########*/


/* Track */
::-webkit-scrollbar-track
  background: $color-white

/* Handle */
::-webkit-scrollbar-thumb
  background: $color-lightPurple
  border-radius: 20px

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background: $color-lightRed

