@import "./settings"


*
    @include reset

body,html
    background-color: $color-light-blue
    overflow-x: hidden
    position: relative
// --------------------------------------- header
.header
    width: 100%
    height: 8vh
    display: flex
    justify-content: space-between
    padding-left: 20px
    padding-right: 20px
    align-items: center
    position: fixed
    border-bottom: solid 1px $color-blue 
    top: 0
    backdrop-filter: blur(5px)
    z-index: 100
    // --------------------------------------- My name
    h3
        color: $color-blue
        font-weight: 700
    // --------------------------------------- option header
    ul
        display: flex
        align-items: center
        justify-content: center
        grid-gap: 20px
        // --------------------------------------- option disabled
        .disabled
            color: $color-lightGray
            transition: 0.3s 
            &:hover
                color: $color-blue
        // --------------------------------------- option active
        .active
            color: $color-blue
            font-weight: 600
// --------------------------------------- wave background
.wave-background
    top: 0
    z-index: 0
    height: 100vh
    position: absolute



// --------------------------------------------------------------------------------



// --------------------------------------- section
.container-01
    position: relative
    height: 100vh
    width: 100%
    padding-top: 50px

    .scrolldown
        position: absolute
        bottom: 20px
        left: 50px
        color: #B8CCE0
        font-weight: 600
        display: flex
        align-items: center
        justify-content: center
        grid-gap: 10px
        img
            height: 15px
    >div.container-status-midias
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        width: 95%
        height: 80vh
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap

        >.status
            display: flex
            flex-direction: column
            grid-gap: 20px
            >h1
                font-size: 50px
                color: $color-dark-blue
            >span
                color: $color-dark-blue
                font-weight: 600
                font-size: 24px
            >p
                color: $color-dark-blue
                font-size: 24px

            >a>.contact
                background: #F1F5F9
                box-shadow: 8px 8px 16px #C9D9E8, -8px -8px 16px #FFFFFF
                border-radius: 24px
                width: 200px
                font-size: 15px
                height: 40px
                display: flex
                align-items: center
                justify-content: space-around
                color: $color-blue
                font-weight: 600
                transition: 0.5s
                &:hover
                    background: $color-blue
                    width: 230px
                    color: $color-light-blue
                    box-shadow: none
                    >svg
                        >path
                            fill: $color-light-blue

        >.midias
            position: absolute
            bottom: 0
            left: 50%
            transform: translate(-50%,-50%)
            display: flex
            align-items: center
            justify-content: center
            grid-gap: 20px

            a
                background: $color-blue
                display: flex
                align-items: center
                justify-content: center
                height: 30px
                width: 30px
                border-radius: 50%
                box-shadow: 8px 8px 16px #C9D9E8, -8px -8px 16px #FFFFFF



// -------------------------------------------- Container2
      
.container-02
    border-bottom: 1px solid #000
    height: 100vh
    position: relative
    
    >h3.title-about-me
        color: $color-dark-blue
        position: absolute
        top: 10vh
        left: 50%
        transform: translate(-50%, -0%)

        &::after
            content: " "
            position: absolute
            width: 50%
            height: 5px
            background: $color-dark-blue
            bottom: 0
            left: 0
            border-radius: 10px

    >.pikachu
        position: absolute
        bottom: 0
        height: 60px
        animation: pikachu 5s infinite linear


    >.container-knowledge
        position: absolute
        top: 30%
        left: 50%
        width: 80%
        transform: translate(-50%, 0%)
        display: flex
        flex-direction: column
        grid-gap: 30px

        >.text-knowledge
            font-size: 20px
            color: $color-lightGray

        >.container-number
            display: flex
            grid-gap: 100px

            >p>span
                color: $color-dark-blue
                font-size: 50px
                font-weight: 600
            >p
                font-size: 20px
                color: $color-lightGray
        
        >.downlad-cv
            display: flex
            align-items: center
            justify-content: space-around
            width: 200px
            background: $color-dark-blue
            border-radius: 40px
            color: $color-white
            font-weight: 600
            box-shadow: 8px 8px 16px #C9D9E8, -8px -8px 16px #FFFFFF
            transition: 0.5s linear
            &:hover
                width: 250px
                color:$color-dark-blue 
                background:   $color-white
                >path
                    fill: $color-dark-blue



@keyframes pikachu
    0%
        left: -50px
    100%
        left: 110%



// -------------------------------------------- Container2
.container-03
    height: 100vh
    display: flex
    align-items: center
    justify-content: center
    position: relative
    color: $color-lightGray

    >h1
        position: absolute
        left: 100px
        top: 100px
        color: $color-blue
        >span
            color: $color-dark-blue
            position: relative
            &::after
                position: absolute
                content: "  "
                width: 100px
                height: 3px
                background: $color-dark-blue
                left: -110px
                top: 50%
                transform: translate(0, -50%)

    >.my-biography-photo
        width: 80%
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap: wrap
        position: relative
        >img
            position: relative
            box-shadow: 3px 3px 0px $color-blue
            &::after
                content: " JP-04. João Pereira, 2004 "
                color: #000
                position: absolute
                bottom: -110px
        >span
            position: absolute
            left: 0
            bottom: -50px
