//---------------------------------------- colors
// Theme white
$color-black:       #000000
$color-dark-blue:   #547596
$color-lightGray:   #929292
$color-blue:        #11B1F5
$color-light-blue:  #F1F5F9
$color-white:       #ffffff
// Theme dark
//---------------------------------------- reset
@mixin reset
    font-family: 'Poppins', sans-serif
    box-sizing: border-box
    text-decoration: none
    list-style: none
    padding: 0
    margin: 0

        
