//---------------------------------------- colors
// Theme white
$color-black:       #000000
$color-dark-blue:   #547596
$color-lightGray:   #929292
$color-blue:        #11B1F5
$color-background:  #C9D9E8
$color-light-blue:  #F1F5F9
$color-white:       #ffffff
// Theme dark
//---------------------------------------- reset
@mixin reset
    font-family: 'Poppins', sans-serif
    box-sizing: border-box
    text-decoration: none
    list-style: none
    padding: 0
    margin: 0
//---------------------------------------- display-flex

@mixin flex-center
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap

@mixin flex-space-around
    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: wrap

@mixin flex-space-between
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap

//---------------------------------------- position-absolute
@mixin position-center
    transform: translate(-50%, -50%)
    position: absolute
    left: 50%
    top: 50%

@mixin position-bottom
    position: absolute
    bottom: 0    
@mixin position-bottom-center
    position: absolute
    bottom: 0
    left: 50%
    transform: translate(-50%,-50%)

@mixin position-start
    position: absolute
    top: 0
    left: 0
//---------------------------------------- containers
@mixin containers
    position: relative
    height: 100vh
    width: 100%
//---------------------------------------- fonts
@mixin fonte-50px
    font-size: 50px
@mixin fonte-25px
    font-size: 25px
@mixin fonte-20px
    font-size: 20px
@mixin fonte-15px
    font-size: 15px


//---------------------------------------- padding
@mixin padding-left-right-20px
    padding: 0 20px
//---------------------------------------- gap
@mixin gap-20px
    grid-gap:  20px     

//---------------------------------------- span titulos
@mixin span-title
    content: "  "
    width: 100px
    height: 3px
    position: absolute
    left: -110px
    top: 50%
    transform: translate(0, -50%)


    
    
