* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

body, html {
  background-color: #F1F5F9;
  overflow-x: hidden;
  position: relative;
}

.header {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  position: fixed;
  border-bottom: solid 1px #11B1F5;
  top: 0;
  backdrop-filter: blur(5px);
  z-index: 100;
}
.header h3 {
  color: #11B1F5;
  font-weight: 700;
}
.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
}
.header ul .disabled {
  color: #929292;
  transition: 0.3s;
}
.header ul .disabled:hover {
  color: #11B1F5;
}
.header ul .active {
  color: #11B1F5;
  font-weight: 600;
}

.wave-background {
  top: 0;
  z-index: 0;
  height: 100vh;
  position: absolute;
}

.container-01 {
  position: relative;
  height: 100vh;
  width: 100%;
  padding-top: 50px;
}
.container-01 .scrolldown {
  position: absolute;
  bottom: 20px;
  left: 50px;
  color: #B8CCE0;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
}
.container-01 .scrolldown img {
  height: 15px;
}
.container-01 > div.container-status-midias {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container-01 > div.container-status-midias > .status {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.container-01 > div.container-status-midias > .status > h1 {
  font-size: 50px;
  color: #547596;
}
.container-01 > div.container-status-midias > .status > span {
  color: #547596;
  font-weight: 600;
  font-size: 24px;
}
.container-01 > div.container-status-midias > .status > p {
  color: #547596;
  font-size: 24px;
}
.container-01 > div.container-status-midias > .status > a > .contact {
  background: #F1F5F9;
  box-shadow: 8px 8px 16px #C9D9E8, -8px -8px 16px #FFFFFF;
  border-radius: 24px;
  width: 200px;
  font-size: 15px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #11B1F5;
  font-weight: 600;
  transition: 0.5s;
}
.container-01 > div.container-status-midias > .status > a > .contact:hover {
  background: #11B1F5;
  width: 230px;
  color: #F1F5F9;
  box-shadow: none;
}
.container-01 > div.container-status-midias > .status > a > .contact:hover > svg > path {
  fill: #F1F5F9;
}
.container-01 > div.container-status-midias > .midias {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
}
.container-01 > div.container-status-midias > .midias a {
  background: #11B1F5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 8px 8px 16px #C9D9E8, -8px -8px 16px #FFFFFF;
}

.container-02 {
  border-bottom: 1px solid #000;
  height: 100vh;
  position: relative;
}
.container-02 > h3.title-about-me {
  color: #547596;
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translate(-50%, 0%);
}
.container-02 > h3.title-about-me::after {
  content: " ";
  position: absolute;
  width: 50%;
  height: 5px;
  background: #547596;
  bottom: 0;
  left: 0;
  border-radius: 10px;
}
.container-02 > .pikachu {
  position: absolute;
  bottom: 0;
  height: 60px;
  animation: pikachu 5s infinite linear;
}
.container-02 > .container-knowledge {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.container-02 > .container-knowledge > .text-knowledge {
  font-size: 20px;
  color: #929292;
}
.container-02 > .container-knowledge > .container-number {
  display: flex;
  grid-gap: 100px;
}
.container-02 > .container-knowledge > .container-number > p.text-numbers > span {
  color: #547596;
  font-size: 50px;
  font-weight: 600;
}
.container-02 > .container-knowledge > .container-number > p {
  font-size: 20px;
  color: #929292;
}
.container-02 > .container-knowledge > .downlad-cv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
  background: #547596;
  border-radius: 40px;
  color: #ffffff;
  font-weight: 600;
  box-shadow: 8px 8px 16px #C9D9E8, -8px -8px 16px #FFFFFF;
  transition: 0.5s linear;
}
.container-02 > .container-knowledge > .downlad-cv:hover {
  width: 250px;
  color: #547596;
  background: #ffffff;
}
.container-02 > .container-knowledge > .downlad-cv:hover > svg > path {
  fill: #547596;
}

@keyframes pikachu {
  0% {
    left: -50px;
  }
  100% {
    left: 110%;
  }
}
.container-03 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #929292;
}
.container-03 > h1 {
  position: absolute;
  left: 100px;
  top: 100px;
  color: #11B1F5;
}
.container-03 > h1 > span {
  color: #547596;
  position: relative;
}
.container-03 > h1 > span::after {
  position: absolute;
  content: "  ";
  width: 100px;
  height: 3px;
  background: #547596;
  left: -110px;
  top: 50%;
  transform: translate(0, -50%);
}
.container-03 > .my-biography-photo {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.container-03 > .my-biography-photo > img {
  position: relative;
  box-shadow: 3px 3px 0px #11B1F5;
}
.container-03 > .my-biography-photo > span {
  position: absolute;
  left: 0;
  bottom: -50px;
}

.container-4 {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-4 > h1 {
  position: absolute;
  left: 100px;
  top: 100px;
  color: #11B1F5;
}
.container-4 > h1 > span {
  color: #547596;
  position: relative;
}
.container-4 > h1 > span::after {
  position: absolute;
  content: "  ";
  width: 100px;
  height: 3px;
  background: #547596;
  left: -110px;
  top: 50%;
  transform: translate(0, -50%);
}
.container-4 > .container-paixao {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.container-4 > .container-paixao > .conteudo-paixao {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  grid-gap: 20px;
}
.container-4 > .container-paixao > .conteudo-paixao > p {
  font-size: 15px;
  text-align: start;
  height: 200px;
  color: #929292;
}

.container-05 {
  background: #C9D9E8;
  height: 150vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-05 > h1 {
  position: absolute;
  left: 100px;
  top: 100px;
  color: #ffffff;
}
.container-05 > h1 > span {
  color: #547596;
  position: relative;
}
.container-05 > h1 > span::after {
  position: absolute;
  content: "  ";
  width: 100px;
  height: 3px;
  background: #ffffff;
  left: -110px;
  top: 50%;
  transform: translate(0, -50%);
}
.container-05 > .ancora {
  position: absolute;
  left: 0;
  top: 0;
}

/*# sourceMappingURL=home.css.map */
