* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 400vh;
  padding: 10px;
  position: relative;
  overflow-x: hidden;
}

/* ########    container-window    ########*/
.container-window {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  border: 0.2em solid #EDE6F4;
  transform: translate(-50%, 0%);
  border-radius: 0em 0em 1em 1em;
  position: absolute;
  border-top: 0em;
  height: 70vh;
  width: 60%;
  left: 50%;
  top: 6em;
}

/* ########    head-window    ########*/
.head-window {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: 0.2em solid #EDE6F4;
  transform: translate(-50%, 0%);
  border-radius: 1em 1em 0em 0em;
  background-color: #ffffff;
  position: absolute;
  align-items: center;
  padding-left: 10px;
  display: flex;
  height: 3em;
  width: 60%;
  left: 50%;
  top: 3em;
  gap: 10px;
}
.head-window .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.head-window .red {
  background: #FD5E56;
}
.head-window .yellow {
  background: #FEBC2E;
}
.head-window .green {
  background: #29C33E;
}

/* ########    container name    ########*/
.container-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 70px;
  gap: 10px;
}
.container-name p {
  font-size: 1.5em;
  color: #929292;
  font-weight: 600;
}
.container-name .name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container-name .name h1 {
  font-size: 4rem;
  font-weight: 900;
  color: #ffffff;
  -webkit-text-stroke: 0.5px #929292;
}

/* ########    container menu    ########*/
.container-menu {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.container-menu a {
  color: #929292;
  font-weight: 600;
  font-size: 1.5em;
}
.container-menu .active {
  color: #000000;
  position: relative;
}
.container-menu .active::after {
  content: "  ";
  position: absolute;
  bottom: -5px;
  border-radius: 20px;
  left: 0;
  width: 100%;
  height: 0.3em;
  background: #AD7AE6;
}
.container-menu .disabled:hover {
  color: #000000;
}

/* ########    container cv in midias    ########*/
.container-cv-midias {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  bottom: 0;
}
.container-cv-midias .midias {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container-cv-midias .midias a {
  font-family: "IBM Plex Mono", monospace !important;
  color: #929292 !important;
  font-size: 1em;
}
.container-cv-midias .midias a:hover {
  color: #AD7AE6 !important;
}

.animation-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  height: 35px;
  background: #ffffff;
  border: 0.3em solid #AD7AE6;
  border-radius: 50px;
  padding-left: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.animation-arrow a {
  color: #AD7AE6 !important;
  font-weight: 600;
}
.animation-arrow .background-purple {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
  background-color: #AD7AE6;
  height: 100%;
  width: 80px;
  border-radius: 50px 20px 20px 0px;
}
.animation-arrow .background-purple .arrow-bottom {
  background: #ffffff;
  height: 0.2em;
  width: 2em;
  border-radius: 20px;
}
.animation-arrow .background-purple img {
  animation: arrow 1s infinite alternate-reverse;
}

@keyframes arrow {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}
/* ########    animation   ########*/
#planet-purple {
  position: absolute;
  right: -100px;
  top: 50vh;
  animation: rotation-planet 60s infinite linear;
}

@keyframes rotation-planet {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#antena {
  position: absolute;
  left: 0;
}

#scroll {
  position: absolute;
  left: 150px;
  top: 355px;
  height: 300px;
}

/*# sourceMappingURL=home.css.map */
